footer{
    margin-top: 10px;
    background-color: $color1;
    height: 80px; 
    font-size: calc($font2*0.5);
    text-align: center;
    padding: 20px;

    p{
        color: $color4;
        margin-bottom: 10px;
    }

    .redes{
        a {
            text-decoration: none;
            color: $color4;
            font-size: $font2;
            letter-spacing: 20px;

            i {
                &:hover {
                    color: $color2 !important; 
                }
            }
        }
    }
}
